
    /*======================================
  //--//-->   BLOG
  ======================================*/

  
  .post-card {
    display: block;
    position: relative;
    transition: .3s all ease;
    width: 100%;
    min-height: 250px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,.1);
    &:hover, &:active, &:focus {
      box-shadow: 0 5px 50px -10px rgba(0,0,0,.1);
      top: -2px;
    }
    margin-bottom: 2.25rem;
    border-bottom: 0;

    opacity: 0;
    .animated{
        opacity:1;
    }
}


.post-card__label {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2
}

.post-card__inner {
    display: block;
    position: relative;
    padding: 1.875rem 1.25rem .625rem;
    width: 100%;
    color: #838c8d;
    border-bottom: 0
}

.post-card__header {
    margin-bottom: .75rem;

}

.post-card__meta {
    font-size: .875rem;

}

.post-card__thumb {
    margin: 0;
    background: #fff;
    position: relative;
    overflow: hidden
}

.post-card__thumb::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%
}

.post-card__thumb>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block
}


.portfolio-block{

    img{
        width: 100%;
        height: auto;
        

    }
}