  
  


  
.contact-mf,.about-mf,.blog-mf,.portfolio-mf,.skill-mf,.services-mf ,.footer-paralax{
  margin-top: 4rem;
  
}
  
.btn-link{
  border-bottom: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: bold;
  
}

.site-section{
  margin-top: 100px
}
  
  /*--/ Title A /--*/
  
  .title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    font-size: 3rem;
    font-weight: bold;
    // text-transform: uppercase;
    color:$primary-color;
  }
  
  .subtitle-a {
    color:$primary-color;
    margin-bottom: 2rem;

  }
  
  .line-mf {
    width: 100px;
    height: 5px;
    background-color: $primary-color;
    margin: 0 auto;
  }
  
  /*--/ Title Left /--*/
  
  .title-box-2 {
    margin-bottom: 3rem;
  }
  
  .title-left {
    font-size: 2rem;
    position: relative;
  }
  
  .title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: $primary-color;
    width: 150px;
    bottom: -12px;
    
  }
  
  /*------/ Box /------*/

  
  .box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  /*------/ Socials /------*/
  
  .socials {
    padding: 1.5rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 5px $primary-color;
    transition: all 500ms ease;
  }
  
  .socials .ico-circle:hover {
    background-color: $primary-color;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }
  
  .socials a{
    color:$primary-color;
  }
  /*------/ Ul resect /------*/
  
  .ul-resect,
  .socials ul,
  .list-ico,
  .blog-wrapper .post-meta ul,
  .box-comments .list-comments,
  .widget-sidebar .list-sidebar,
  .widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .list-ico {
    line-height: 2;

    p{
      color: $primary-color;

    }
  }
  
  .list-ico span {
    color: $primary-color;
    margin-right: 10px;
  }
  
  /*------/ Ico Circle /------*/
  
  .ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 5px $primary-color;
    display: block;
  }
  
  /*------/ Owl Carousel /------*/
  
  .owl-theme .owl-dots {
    text-align: center;
    margin-top: 18px;
  }
  
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 7px;
    margin: 5px 5px;
    background: #cde1f8;
    border: 0px solid #cde1f8;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
  }
  
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #cde1f8;
  }
  
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #1B1B1B;
    width: 25px;
  }
  
  /*--/ Scrolltop s /--*/
  
  .scrolltop-mf {
    position: relative;
    display: none;
  }
  
  .scrolltop-mf span {
    z-index: 999;
    position: fixed;
    width: 42px;
    height: 42px;
    background-color: $primary-color;
    opacity: .7;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: $primary-color;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid $primary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
    
  /*======================================
  //--//-->   COUNTER
  ======================================*/
  
  .counter-box {
    color: #fff;
    text-align: center;
  }
  
  .counter-ico {
    margin-bottom: 1rem;
  }
  
  .counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.8;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  .counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  

