.post-content {
    max-width: 52.5rem;
    margin: 0 auto;
    padding-top: 2.5em;
    text-align: left !important;
  
    @include breakpoint($md) {
      padding-top: 5em;
    }

  h1{
    font-size: 3rem;
    font-weight: bold;
  }


    
  // Reboot
  p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    text-align:left;

  }
  
  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align:left;
  }
  
  
  a {
    color: $primary-light;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px dashed $primary-light;
    }
  
  .p-r {
    position: relative;
  }

  
  }
  
  .comments {
    padding: 50px 0;
    background-color: #fafafa;
  }
  
  .controls__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.375rem 0 1.25rem;
    border-top: 1px solid $border;
  
    .prev {
      align-items: flex-start;
      text-align: left;
    }
  
    .next {
      align-items: flex-end;
      text-align: right;
    }
  }
  
  .controls__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    span {
      font-size: 0.875rem;
      color: $light;
    }
  
    a {
      color: $heading-color;
      font-weight: bold;
      border-bottom: 0;
  
      svg {
        transition: all .2s linear;
      }
  
      &:hover {
        color: $primary;
        border-bottom: 0;
  
        svg {
          fill: $primary;
        }
      }
    }
  }
  

  code {
    padding: 0.2em 0.4em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 3px;
  }
  
  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-x: auto;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;
  
    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }
  

  table {
    display: table;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 1.25rem;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $border;
    border-radius: 4px;
    font-size: 14.5px;
    text-align: center;
    
    th {
      background-color: $light-bg-color;
    }
  
    th,
    td {
      padding: 6px 13px;
      border: 1px solid $border;
    }
  }
  