

<!-- Start home-about Area -->
<section class="site-section bg-transparent" id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-mf">

                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="about-img">
                                <img src="{{site.url}}/assets/img/{{page.about_img}}.jpg" class="img-fluid rounded b-shadow-a " alt="">
                            </div>
                            
                        </div>
                        <div class="col-md-6  ">  
                            <div class="about-me pt-4 pt-md-0">
                            <div class="title-box-2">
                                <h5 class="title-left">
                                About me
                                </h5>
                            </div>
                            <p class="lead">
                                {{page.about_me1}}
                            </p>
                            <p class="lead">
                                {{page.about_me2}}
                            </p>
                            <p class="lead">
                                {{page.about_me3}}
                            </p>
                            <p class="lead">
                                {{page.about_me4}}
                            </p>
                            <p class="lead">
                                {{page.about_me5}}
                            </p>
                            <!-- <p class="lead">
                                {{page.about_me6}}
                            </p> --> 
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->	


<!-- Start timeline Area -->
<section class="site-section timeline bg-transparent" id="section-roadmap">
    <div class="text-center">
    <div class="menu-content pb-70">
        <div class="title-box-2 text-center">
          
            <h1 class=" title-left">My Journey</h1>

        </div>
    </div>
</div>				
  <ul>
    
   
    <li>
      <div class="content">
        <h4>
          <b>Freelance Machine Learning Engineer</b>
        </h4>
        <p>2015-present</p>
      </div>
    </li>
    <li>
      <div class="content">
        <h4>
          <b>Data Scientist </b>
        </h4>
        <h5><a href="https://www.eworx.gr/">Eworx SA</a></h5>
        <p>2018-2019</p>
      </div>
    </li>
    <li>
      <div class="content">
        <h4>
          <b>MEng Electrical and Computer Engineer</b>
        </h4>
        <h5><a href="http://www.upatras.gr/en">University of Patras</a></h5>
        <p>GPA: Upper Second-Class Honors (7.23/10)</p>
        <p>GPA in Major:<b> 8.12/10</b></p>
        <p>2012-2017</p>

      </div>
    </li>
    
  </ul>
</section>		

<!-- End timeline Area -->
