
<section class="site-section" id="section-portofolio">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 mt-5">
                    <div class="title-box text-center">
                    <h3 class="title-a">
                        {{page.title}}
                    </h3>
                    
                    <!-- <p class="subtitle-a">
                        What do I offer?
                    </p> -->
                    <div class="line-mf"></div>
                
                    </div>
                </div>
                {% if page.title=='Projects' %}

                <div class="col-sm-12 ">
                    <a class="btn btn-primary btn-lg" href="{{site.url}}/assets/{{page.CV}}">Download CV</a>
                </div>
                {% endif %}
                </div>
        <div class="portfolio-mf">
                
        <div class="row">
                

            {% for project in site.projects %}
                {% include components/portfolio_card.html %}
            {% endfor %}
        </div>
        </div>
    </div>
</section>
  