<main id="portfolio"  >
	<section>
		<div class="container">

			<div id="portfolio-gallery" class="post-list">
				{% for project in site.projects %}
					<div class="aspect-ratio-keeper"> </div>
					

					<a class="post-card"  href="{{ project.project-url }}" style="width: 100% ">
							<div class="post-card__header" style="margin:10px">
									<h2>{{ project.title }}</h2>
							</div>
							<figure class="post-card__thumb" style="width:40%;float:left;margin:10px" >
								<img class="inner" src="{{ site.url }}/assets/img/portofolio/{{project.featured-img}}.jpg">
							</figure>
							<div lass="post-card__inner" style=" color: black; margin:10px">
								
								<div >
									<p>{{ project.content }}</p>
								</div>
							</div>

						</a>
				 


				{% endfor %}
			</div>
		</div>
	</section>
</main>