

<section class="paralax-mf footer-paralax bg-image " >
<footer class="site-footer">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-12 text-center">
        <p>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username}} " class="social-item"><span class="fab fa-linkedin"></span></a>
          <a href="https://www.instagram.com/{{ site.instagram_username }}" class="social-item"><span class="fab fa-instagram"></span></a>
          <a href="https://www.twitter.com/{{ site.twitter_username }}" class="social-item"><span class="fab fa-twitter"></span></a>
          <a href="https://www.facebook.com/{{ site.facebook_username }}" class="social-item"><span class="fab fa-facebook"></span></a>
          <a href="https://github.com/{{ site.github_username }}" class="social-item"><span class="fab fa-github"></span></a>
        </p>
      </div>
    </div>
    <div class="row">
        <p class="col-12 text-center footer_text">
        <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</span>
        </p>
    </div>
  </div>
</footer>
</section>
<!-- JS -->
 <!-- JavaScript Libraries -->
 <script src="{{site.url}}/lib/jquery/jquery.min.js"></script>
 <script src="{{site.url}}/lib/jquery/jquery-migrate.min.js"></script>
 <script src="{{site.url}}/lib/popper/popper.min.js"></script>
 <script src="{{site.url}}/lib/bootstrap/js/bootstrap.min.js"></script>
 <script src="{{site.url}}/lib/easing/easing.min.js"></script>
 <script src="{{site.url}}/lib/counterup/jquery.waypoints.min.js"></script>
 <script src="{{site.url}}/lib/counterup/jquery.counterup.js"></script>
 <script src="{{site.url}}/lib/lightbox/js/lightbox.min.js"></script>
 <script src="{{site.url}}/lib/typed/typed.min.js"></script>
 <script src="{{site.url}}/js/scripts.js"></script>
 <script src="{{site.url}}/js/contact_form.js"></script>

