<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}


  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-touch-icon.png | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/icons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/icons/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/img/icons/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/img/icons/safari-pinned-tab.svg?v=qA3OXqyw77' | relative_url }}" color="#5bbad5">
  <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico?v=qA3OXqyw77"><![endif]-->
  <link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico?' | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="Sergios Karagiannakos">
  <meta name="application-name" content="Sergios Karagiannakos">
  <meta name="description" content="Machine Learning Engineer,Software Engineer,Data Scientist"/>
  
  {% if page.layout=="post" %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.summary | markdownify | strip_html | strip_newlines | truncate: 300 }}" />
  <meta property="og:image" content="{{ site.url }}/assets/img/posts/{{ page.featured-img }}.jpg" />
  <meta name="twitter:card" content="summary"> 
  {%endif%}
  <meta name="theme-color" content="#ffffff">



  {% if site.google_tag_manager %}

    {% include components/gtm.html %}

  {% endif %}


  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
