
  /*======================================
  //--//-->   ABOUT
  ======================================*/
  
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  

  .hire_me{
    margin-top: 20%;

    .btn{
      width:250px;
    }

  }

  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: $primary-extra-light;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
      
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: $primary-color;
     -webkit-transition: width 2.5s ease !important;
    transition: width 2.5s ease !important;
  }