
  
  /*======================================
  //--//-->   CONtaCT FORM
  ======================================*/
  
  #sendmessage {
    color: $primary-color;
    border: 1px solid $primary-color;
    display: none;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #errormessage {
    color: $error;
    display: none;
    border: 1px solid $error;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #sendmessage.show,
  #errormessage.show,
  .show {
    display: block;
  }
  
  .validation {
    color: $error;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }


.contactForm,.subscribeForm{
  
    text-align: left

}
  