
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include components/head.html %}

  <body class="site">


    <style>
      
    .text-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 200px;
      margin-bottom: 200px
    }

    .title {
        font-size: 6em;
        font-weight: 700;
    }

    .subtitle {
        font-size: 40px;
        font-weight: 700;
        
    }

    .navbar{
      background:#0078ff;
    }
    </style>

  {% include components/header.html %}


    <div class="container text-wrapper">
        <div class="title" data-content="404">
            404
        </div>
    
        <div class="subtitle">
            Oops, the page you're looking for doesn't exist.
        </div>
    
        <div class="buttons">
            <a class="btn btn-primary" href="{{site.url}}">Go to homepage</a>
        </div>
    </div>

    {% include components/footer.html %}

  </body>

</html>
